
<div>
    <h4>Car</h4>
  <p>@ViewBag.Make</p>
    <p>@ViewBag.Color</p>
    <p>@ViewBag.Mileage</p>
    <p>@ViewBag.IsUsed</p>
</div>

<p>@ViewBag.Error</p>
<p>@ViewBag.StackTrace</p>
  <p>  @Html.ActionLink("Back to home", "Index", "Home")</p>
